TASK_CENTER_DB_URL=jdbc:postgresql://host.docker.internal:5432/english_material
TASK_CENTER_DB_USER=postgres
TASK_CENTER_DB_PASSWORD=replace-with-local-password
ENGLISH_MATERIAL_BACKEND_PORT=18744
ENGLISH_MATERIAL_FRONTEND_PORT=19638
IMAGE_STORY_STORAGE_ROOT=./runtime/image-story
